* {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.NavBar-Container {
  width: 100%;
  position: fixed;
  height: 8vh;
  display: flex;
  border-bottom: 1px solid #ffbf00;
  z-index: 999999999999;
  backdrop-filter: blur(50px);
}
.Logo {
  width: 40%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffbf00;
}
.NavBarList {
  width: 60%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavBarList ul {
  display: flex;
  width: 75%;
  height: 8vh;
  align-items: center;
  justify-content: space-around;
}
.NavBarList li {
  font-size: 1.3rem;
  color: #ffbf00;
  font-weight: 400;
  border-bottom: #ffbf00 1px solid;
}
