.productContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.productSquare {
  width: 100%;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sqauresContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.squars {
  width: 20%;
  height: 27vh;
  border-bottom: 1px solid #ffc300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftFlex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  height: 27vh;
  padding: 3px;
}
.leftFlex a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out; /* Added transition property */
}
.leftFlex img {
  width: 80%;
  object-fit: cover;
  height: 20vh;
  border: 1px solid #ffc300;
}
.leftFlex img:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.leftFlex h1 {
  font-size: 1rem;
}
.NameAndRateSquare {
  width: 80%;
  display: flex;

  height: 7vh;
}
.NameAndRate {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 50%;
  height: 7vh;
}
.rateee {
  width: 55%;
  display: flex;
  align-items: end;
  justify-content: end;
  height: 7vh;
  /* margin-left: 60px; */
}

.rate {
  float: left;
  height: 40px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 25px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.arrow {
  width: 100%;
  padding: 20px;
  margin-top: 25px;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #c59b08;
  cursor: pointer;
}
.arrow h1 {
  border-bottom: #c59b08 1px solid;
}
@media screen and (max-width: 1350px) {
  .squaresContainer .squares {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .squaresContainer .squares {
    width: 45%; /* Adjusted width for even smaller screens */
  }
}
@media (max-width: 768px) {
  .squaresContainer {
    flex-direction: column; /* Change flex-direction to column for stacking squares vertically */
    align-items: center; /* Center align items */
  }

  .squars {
    width: 90%; /* Adjusted width for smaller screens */
  }

  .leftFlex {
    width: 90%; /* Adjusted width for smaller screens */
  }

  .leftFlex img,
  .NameAndRateSquare {
    width: 100%; /* Adjusted width for smaller screens */
  }
}
@media screen and (max-width: 768px) {
  .squaresContainer .squares {
    width: 45%; /* Adjusted width for even smaller screens */
  }
}
@media (max-width: 1244px) {
  .squaresContainer {
    flex-direction: column; /* Change flex-direction to column for stacking squares vertically */
    align-items: center; /* Center align items */
  }

  .squars {
    width: 50%; /* Adjusted width for smaller screens */
  }

  .leftFlex {
    width: 100%; /* Adjusted width for smaller screens */
  }
  .leftFlex img {
    width: 150%;
  }

  .NameAndRateSquare {
    width: 150%;
    height: 17vh;
  }
}
