.ProductViewContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.ProductName {
  width: 100%;
  height: 28vh;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  padding: 20px;
}
.ProductName h1 {
  font-size: 2.5rem;
  color: #ffc300;
}
.ProductName p {
  text-align: center;
  width: 41%;
}
.ProductImagee {
  border: #ffc300 solid 1px;
  width: 100%;
  height: 70vh;
  background-image: url("../images/3d-dark-grunge-display-background-with-smoky-atmosphere.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px; /* Add perspective for 3D effect */
}
.ProductImagee img {
  width: 50%;
  box-shadow: -3px 0px 50px -28px #ffc300;
  height: 45vh;

  transform-style: preserve-3d; /* Maintain 3D effect */
  animation: rotateImage 19s infinite linear; /* Adjust duration and timing function as needed */
}
@keyframes rotateImage {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(0deg);
  }
}

.ProductDetails {
  width: 100%;
  height: 38vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.squareDetails {
  width: 20%;
  z-index: 99999999;
  height: 28vh;
  border: #ffc300 solid 1px;
  border-radius: 10px;
  background-color: black;
  box-shadow: -3px 0px 75px -28px #ffc300;
  display: flex;
  flex-direction: column;
}

.product-details {
  padding: 10px;
}

.detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.detail label {
  color: #ffc300;
  width: 50%; /* Ensures spans take up half of the available space */
  text-align: left; /* Aligns the text to the right within the span */
  font-size: 1.5rem;
  margin-left: 20px;
}

.detail strong {
  color: white;
  font-size: 1.3rem;
  width: 50%; /* Ensures labels take up half of the available space */
}
.popup {
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  border: #ffa000 1px solid;

  background-color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: -3px 0px 75px -28px #ffc300;
}

.popup-inner h2 {
  color: #ffc300;
}

.popup-inner p {
  margin-bottom: 10px;
}

.popup-inner button {
  background-color: #ffc300; /* yellow */
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.popup-inner button:hover {
  background-color: #ffc300; /* darker yellow on hover */
}
