.ReviewContainer {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;

  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.ReviewCards {
  width: 100%;
  height: auto;
}
