.SecondSection {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}
.HeadText {
  width: 100%;
  height: 15vh;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.HeadText h1 {
  font-size: 2.3rem;
}
.HeadText p {
  color: #ffc300;
  opacity: 0.8;
}
.Cards {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
/* SecondSection.css */
.AnimatedPinDemo {
  opacity: 0; /* Initially hide the element */
  transition: opacity 0.5s ease; /* Add transition for smooth fade-in effect */
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
